<main id="mainContent" class="content shifted p-4">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-3 mb-3">
      <h4 class="heading">Files</h4>
      <div>
        <button class="btn btn-success me-2">
          <i class="bi bi-funnel"></i> Filter
        </button>
        <button class="btn btn-primary">
          <i class="bi bi-plus-lg"></i> Add
        </button>
      </div>
    </div>
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered align-middle">
            <thead class="table-light">
              <tr>
                <th class="heading">Name</th>
                <th class="heading">Type</th>
                <th class="heading">Uploaded By</th>
                <th class="heading">Created At</th>
                <th class="heading text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if (documents.length > 0) { %> <% documents.forEach(doc => { %>
              <tr>
                <td>
                  <i class="bi bi-file-earmark"></i>
                  <%= doc.judul || "Untitled File" %>
                </td>
                <td><%= doc.type|| "Unknown" %></td>
                <td><%= doc.uploadedBy?.nama || "Unknown" %></td>
                <td>
                  <%= doc.createdAt ? doc.createdAt.toLocaleDateString("id-ID")
                  : "-" %>
                </td>
                <td class="text-center">
                  <a
                    href="/<%= doc.fileUrl %>"
                    target="_blank"
                    class="btn btn-sm btn-outline-primary"
                  >
                    <i class="bi bi-eye"></i>
                  </a>
                  <a
                    href="/<%= doc.fileUrl %>"
                    download
                    class="btn btn-sm btn-outline-success"
                  >
                    <i class="bi bi-download"></i>
                  </a>
                </td>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <td colspan="4" class="text-center text-muted">
                  Belum ada dokumen
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>