<main id="mainContent" class="content shifted p-4">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-3 mb-3">
      <h2 class="heading">Article</h2>
      <button class="btn" data-bs-toggle="modal" data-bs-target="#filterModal">
        <i class="bi bi-funnel-fill"></i> Filter
      </button>
    </div>

    <nav class="d-flex justify-content-end mb-4">
      <ul class="pagination pagination-sm m-0">
        <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="/articles?page=<%= currentPage - 1 %>"
            >&laquo;</a
          >
        </li>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i === 1 ||
        i === totalPages || (i >= currentPage - 1 && i <= currentPage + 1)) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/articles?page=<%= i %>"><%= i %></a>
        </li>
        <% } else if (i === currentPage - 2 || i === currentPage + 2) { %>
        <li class="page-item disabled"><span class="page-link">...</span></li>
        <% } %> <% } %> <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="/articles?page=<%= currentPage + 1 %>"
            >&raquo;</a
          >
        </li>
        <% } %>
      </ul>
    </nav>
    <% if (noArticlesFound) { %>
    <div class="alert alert-warning text-center">
      Tidak ada artikel yang ditemukan dengan filter yang dipilih.
    </div>
    <% } else { %>
    <div class="d-flex flex-column gap-3">
      <% articlesPerPage.forEach((article) => { %>
      <a
        href="/employee/articles/<%= encodeURIComponent(article.judul) %>"
        class="text-decoration-none"
      >
        <div class="card border-0 rounded-4 clickable-card">
          <div
            class="card-body article-card"
            style="background-image: url('<%= article.image %>')"
          >
            <div class="card-overlay"></div>
            <div class="content">
              <small class="card-author"
                >Created By <%= article.penulis %></small
              >
              <h5 class="card-heading mt-2"><%= article.judul %></h5>
              <p class="card-info mb-1"><%= article.ringkasan %></p>
              <small class="card-date"><%= article.tanggal %></small>
            </div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    <% } %>
  </div>
</main>