<main id="mainContent" class="content shifted p-4">
  <div class="article-hero d-flex align-items-end" style="background-image: url('<%= article.image %>')">
    <div class="caption-box w-100 px-4 py-3 text-white">
      <h2 class="article-title m-0"><%= article.judul %></h2>
      <p class="article-meta m-0">
        <%= article.tanggal %> &nbsp; By <%= article.penulis %>
      </p>
    </div>
  </div>

  <div class="p-5 bg-white">
    <div class="mt-3 d-flex gap-2">
      <a href="/employee/articles" class="btn px-3">
        <i class="bi bi-arrow-left-short"></i> Back
      </a>
    </div>
    <div class="information mt-4"><%- article.informasi %></div>
  </div>
</main>